<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:wght@800&display=swap" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <title>Play Movie</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        console.log("here0")

        function submitForm(event, formId, url, resultId, inputToUpdate = null, successCallback = null) {
            if (event) {
                event.preventDefault();
            }

            const formData = $(`#${formId}`).serializeArray().reduce(function (obj, item) {
                obj[item.name] = item.value;
                return obj;
            }, {});

            return new Promise((resolve, reject) => {
                $.ajax({
                    type: 'POST',
                    url,
                    data: JSON.stringify(formData),
                    contentType: 'application/json',
                    success: function (data) {
                        $(`#${resultId}`).text(data);
                        if (inputToUpdate) {
                            $(`#${inputToUpdate}`).val(data);
                        }

                        if (successCallback) {
                            successCallback();
                        }

                        resolve(data);
                    },
                    error: function (error) {
                        console.error(error);
                        reject(error);
                    }
                });
            });
        }

        function updateHiddenNovelSummary() {

            $('#characters-form #hidden-storyObjects').val($('#summary-form #storyObjects').val());
            $('#chapters-form #hidden-storyObjects').val($('#summary-form #storyObjects').val());
            $('#scenes-form #hidden-storyObjects').val($('#summary-form #storyObjects').val());
            $('#movie-form #hidden-storyObjects').val($('#summary-form #storyObjects').val());

            $('#chapters-form #hidden-novelSummary').val($('#characters-form #novelSummary').val());
            $('#chapters-form #hidden-novelSummary').val($('#characters-form #novelSummary').val());

            $('#scenes-form #hidden-novelSummary').val($('#characters-form #novelSummary').val());
            $('#scenes-form #hidden-numChapters').val($('#chapters-form #numChapters').val());
            $('#scenes-form #hidden-characters').val($('#chapters-form #characters').val());

            $('#movie-form #hidden-novelSummary').val($('#characters-form #novelSummary').val());
            $('#movie-form #hidden-numChapters').val($('#chapters-form #numChapters').val());
            $('#movie-form #hidden-characters').val($('#chapters-form #characters').val());
            $('#movie-form #hidden-chapters').val($('#scenes-form #chapters').val());
            $('#movie-form #hidden-numScenes').val($('#scenes-form #numScenes').val());

        }

        var backgroundMusic = null
        var playbackStopped = false
        let isWaitingForResponse = false;

        function loadImage(src) {

            src="../"+src

            console.log("about to die",src)


            console.log("loaded img", src)

            if (src == null) {
                return
            }

            return new Promise((resolve, reject) => {
                const image = new Image();
                image.src = src;
                image.onload = () => resolve(image);
                image.onerror = () => reject(new Error(`Failed to load image: ${src}`));
            });
        }

        function playMovie(movieId, count) {

            if (count == null) {
                count = -1
            }

            if (playbackStopped || isWaitingForResponse) return;
            //if (playbackStopped) return;

            isWaitingForResponse = true;

            let url = `/get_next_element/${movieId}?count=${count}`

            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    // Handle the returned data (e.g., render the movie scene)
                    console.log(data);

                    if ('debug' in data) {

                        //check if this is a new scene
                        if (data['debug'] == 'new scene') {
                            $("#whichChapter").val(data["chapter"])
                            $("#whichScene").val(data["scene"])
                        }
                        //just keep going
                        isWaitingForResponse = false;
                        playMovie(movieId, count + 1)
                    }

                    else if ('image' in data) {
                        //draw image on canvas
                        // Get a reference to the canvas element
                        const canvas = document.getElementById('myCanvas');

                        // Get the 2D rendering context from the canvas
                        const ctx = canvas.getContext('2d');

                        // Load the image using the loadImage function
                        console.log("loading image", data["image"])
                        loadImage(data['image'])
                            .then((image) => {
                                // Draw the image on the canvas using the drawImage method
                                ctx.drawImage(image, 0, 0, canvas.width, canvas.height);

                                // Call playMovie again
                                isWaitingForResponse = false;
                                playMovie(movieId, count + 1);
                            })
                            .catch((error) => {
                                console.error(error);
                            });

                    }

                    else if ('caption' in data) {
                        $('#caption').text(data['caption']);

                        setTimeout(function () {
                            isWaitingForResponse = false;
                            playMovie(movieId, count + 1);
                        }, data['duration'] * 1000);
                    }

                    else if ('dialogue' in data) {
                        var audio = new Audio("../"+data['speech']);
                        audio.play();
                        let caption = data['name'] + ": " + data['dialogue']

                        $('#caption').text(caption);

                        setTimeout(function () {
                            isWaitingForResponse = false;
                            playMovie(movieId, count + 1);
                        }, data['duration'] * 1000);

                    }

                    else if ('music' in data) {

                        var audio = new Audio("../"+data['music']);
                        audio.loop = true;
                        audio.play();

                        if (backgroundMusic) {
                            backgroundMusic.pause();
                        }

                        backgroundMusic = audio
                        isWaitingForResponse = false;
                        playMovie(movieId, count + 1);

                    }

                    else if ('done' in data) {

                        if (backgroundMusic) {
                            backgroundMusic.pause();
                        }

                        isWaitingForResponse = false;

                        if ($('#autoplay').is(':checked')) {
                            doAutoplay()
                        }
                    } else {
                        console.log("this should never happen!")
                    }


                },
                error: function (error) {
                    console.error(error);
                    isWaitingForResponse = false;
                }
            });
        }

        function updateCaptionWithMovieTitle() {
            const novelSummary = $('#characters-form #novelSummary').val()
            const summaryLines = novelSummary.split('\n');
            let movieTitle = 'Worst Anime Ever';
            for (let i = 0; i < summaryLines.length - 1; i++) {
                if (summaryLines[i].toLowerCase().trim() === 'title:') {
                    movieTitle = summaryLines[i + 1];
                    break;
                }
            }
            $('#caption').text(movieTitle);

            //draw logo
            const canvas = document.getElementById("myCanvas");
            const ctx = canvas.getContext("2d");

            // Clear the canvas
            ctx.clearRect(0, 0, canvas.width, canvas.height);

            // Draw the logo
            const logo = new Image();
            logo.src = "./static/logo.png"; // Replace with the actual path to your logo file
            logo.onload = function () {
                ctx.drawImage(logo, 0, 0, canvas.width, canvas.height);
            };


        }

        async function doAutoplay() {
            const maxRetries = 3;
            let retryCount = 0;
            let stepFailed = false;

            do {
                stepFailed = false;

                try {
                    // Step 1: Create Summary
                    await submitForm(null, 'summary-form', '/create_summary', 'summary-result', 'characters-form #novelSummary');

                    // Step 2: Create Characters
                    await submitForm(null, 'characters-form', '/create_characters', 'characters-result', 'chapters-form #characters', updateHiddenNovelSummary);

                    // Step 3: Create Chapters
                    await submitForm(null, 'chapters-form', '/create_chapters', 'chapters-result', 'scenes-form #chapters', updateHiddenNovelSummary);

                    // Step 4: Create Scenes
                    await submitForm(null, 'scenes-form', '/create_scenes', 'scenes-result', 'movie-form #scenes', updateHiddenNovelSummary);

                    // Step 5: Create Movie
                    await submitForm(null, 'movie-form', '/create_movie', 'movie-result', 'movie-result-field');
                } catch (error) {
                    stepFailed = true
                }
            } while (retryCount < maxRetries && stepFailed)


            updateCaptionWithMovieTitle();
            // Play the movie
            const movieId = $('#movie-result-field').val();
            playMovie(movieId, 0);
        }



        $(document).ready(function () {

            let movie_id = "{{ movie_id }}"
            $("#movie-result-field").val(movie_id)


            $('#summary-form').submit(function (event) {
            submitForm(event, 'summary-form', '/create_summary', 'summary-result', 'characters-form #novelSummary');
        });

        $('#characters-form').submit(function (event) {
            submitForm(event, 'characters-form', '/create_characters', 'characters-result', 'chapters-form #characters', updateHiddenNovelSummary);
        });

        $('#chapters-form').submit(function (event) {
            submitForm(event, 'chapters-form', '/create_chapters', 'chapters-result', 'scenes-form #chapters', updateHiddenNovelSummary);
        });

        $('#scenes-form').submit(function (event) {
            submitForm(event, 'scenes-form', '/create_scenes', 'scenes-result', 'movie-form #scenes', updateHiddenNovelSummary);
        });

        $('#movie-form').submit(function (event) {
            submitForm(event, 'movie-form', '/create_movie', 'movie-result', 'movie-result-field');
            $("#whichChapter").val(1)
            $("#whichScene").val(1)
        });

        $('#playMovie').click(function () {
            //hide all of the forms
            $('#hideForms').hide();

            playbackStopped = false

            updateCaptionWithMovieTitle();

            //const movieId = "your_movie_id"; // Replace with the actual movie ID
            const movieId = $('#movie-result-field').val();
            const whichChapter = $('#whichChapter').val();
            const whichScene = $('#whichScene').val();
            let count = 0
            playMovie(movieId, count);
        });

        $('#stopMovie').click(function () {
            //hide all of the forms
            //$('#hideForms').show();

            playbackStopped = true

            if (backgroundMusic) {
                backgroundMusic.pause()
            }
        });

        $('#characters-form #novelSummary').on('input', function () {
            updateHiddenNovelSummary();
        });

        $('#chapters-form #novelSummary').on('input', function () {
            updateHiddenNovelSummary();
        });

        $('#scenes-form #novelSummary').on('input', function () {
            updateHiddenNovelSummary();
        });

        updateHiddenNovelSummary();

        let originalSize = null;

        function updateCaptionStyle() {
            let caption = document.getElementById('caption');
            let canvas = document.getElementById('myCanvas');

            if (document.fullscreenElement) {
                let minDimension = Math.min(screen.width, screen.height);
                caption.style.fontSize = (30 * (minDimension / 1024)) + 'px';
                caption.style.width = (minDimension - 256 * minDimension / 1024) + 'px';

                caption.style.position = 'fixed';
                caption.style.bottom = '10px';
                caption.style.left = (canvas.offsetLeft) + 'px';
            } else {
                caption.style.fontSize = '30px';
                caption.style.width = 'calc(1024px - 256px)';

                caption.style.position = 'absolute';
                caption.style.bottom = '10px';
                caption.style.left = '0';
            }
        }

        async function toggleFullscreen() {
            let container = document.getElementsByClassName('container')[0];
            let canvas = document.getElementById('myCanvas');
            let ctx = canvas.getContext('2d');

            // Store the current canvas content as an image
            let tempCanvasImage = new Image();
            tempCanvasImage.src = canvas.toDataURL();

            // Toggle fullscreen mode
            if (!document.fullscreenElement) {
                await container.requestFullscreen();
            } else {
                await document.exitFullscreen();
            }

            if (document.fullscreenElement) {
                let minDimension = Math.min(screen.width, screen.height);
                canvas.width = minDimension;
                canvas.height = minDimension;

                // Center the container in fullscreen mode
                container.style.width = '100%';
                container.style.height = '100%';
                container.style.display = 'flex';
                container.style.justifyContent = 'center';
                container.style.alignItems = 'center';
            } else {
                canvas.width = 1024;
                canvas.height = 1024;

                // Reset container styles when exiting fullscreen
                container.style.width = '';
                container.style.height = '';
                container.style.display = '';
                container.style.justifyContent = '';
                container.style.alignItems = '';
            }

            if (document.fullscreenElement) {
                let minDimension = Math.min(screen.width, screen.height);
                canvas.width = minDimension;
                canvas.height = minDimension;
            } else {
                canvas.width = 1024;
                canvas.height = 1024;
            }
            // Redraw the stored image onto the resized canvas
            ctx.drawImage(tempCanvasImage, 0, 0, canvas.width, canvas.height);

            // Update caption style
            updateCaptionStyle();
        }

        function handleFullscreenChange() {
            let canvas = document.getElementById('myCanvas');
            let ctx = canvas.getContext('2d');

            // Store the current canvas content as an image
            let tempCanvasImage = new Image();
            tempCanvasImage.src = canvas.toDataURL();

            if (!document.fullscreenElement) {
                canvas.width = 1024;
                canvas.height = 1024;

                // Reset container styles when exiting fullscreen
                let container = document.getElementsByClassName('container')[0];
                container.style.width = '';
                container.style.height = '';
                container.style.display = '';
                container.style.justifyContent = '';
                container.style.alignItems = '';

                tempCanvasImage.addEventListener('load', function () {
                    // Redraw the stored image onto the resized canvas
                    ctx.drawImage(tempCanvasImage, 0, 0, canvas.width, canvas.height);
                    // Update caption style
                    updateCaptionStyle();
                });
            }
        }

        document.addEventListener('fullscreenchange', handleFullscreenChange);

        $("#fullscreen-toggle").on("click", function () {
            toggleFullscreen()
        });

        });
    </script>

    <style>
        .container {
            position: relative;
        }

        #myCanvas {
            display: block;
        }


        .caption {
            font-weight: 900;
            font-family: 'Roboto', sans-serif;
            color: black;
            text-shadow:
                -1px -1px 0 white,
                1px -1px 0 white,
                -1px 1px 0 white,
                1px 1px 0 white;
            font-size: 30px;
            display: inline-block;
            width: calc(1024px - 256px);
            /* Updated width */
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 256px;
            /* Updated right */
            text-align: center;
        }
    </style>


</head>

<body>
    <h1>Anime Creator</h1>

    <div id="hideForms" style="display: none;">

        <h2>Step 1: Create Summary</h2>

        Hint: you can put suggestions for the generator here.<br>
        <pre>
novel suggestion:
a story about bees
prompt suffix:
this text is added to the end of every image prompt
character type:
zombie
        </pre>
        <form id="summary-form">
            <label for="storyObjects">Story Objects:</label>
            <br>
            <textarea id="storyObjects" name="storyObjects" rows="32" cols="200"></textarea>
            <br>
            <button type="submit">Create Summary</button>
        </form>
        <pre id="summary-result" style="display:none"></pre>

        <h2>Step 2: Create Characters</h2>
        <form id="characters-form">
            <label for="novelSummary">Novel Summary:</label>
            <br>
            <textarea id="novelSummary" name="novelSummary" rows="32" cols="200"></textarea>
            <br>
            <input type="hidden" id="hidden-storyObjects" name="storyObjects">
            <button type="submit">Create Characters</button>
        </form>
        <pre id="characters-result" style="display:none"></pre>

        <h2>Step 3: Create Chapters</h2>
        <form id="chapters-form">
            <label for="numChapters">Number of Chapters:</label>
            <input type="number" id="numChapters" name="numChapters" value="3">
            <br>
            <label for="characters">Characters:</label>
            <br>
            <textarea id="characters" name="characters" rows="32" cols="200"></textarea>
            <br>
            <input type="hidden" id="hidden-storyObjects" name="storyObjects">
            <input type="hidden" id="hidden-novelSummary" name="novelSummary">
            <button type="submit">Create Chapters</button>
        </form>
        <pre id="chapters-result" style="display:none"></pre>

        <h2>Step 4: Create Scenes</h2>
        <form id="scenes-form">
            <label for="numScenes">Number of Scenes per Chapter:</label>
            <input type="number" id="numScenes" name="numScenes" value="3">
            <br>
            <label for="chapters">Chapters:</label>
            <br>
            <textarea id="chapters" name="chapters" rows="32" cols="200"></textarea>
            <br>
            <input type="hidden" id="hidden-storyObjects" name="storyObjects">
            <input type="hidden" id="hidden-novelSummary" name="novelSummary">
            <input type="hidden" id="hidden-characters" name="characters">
            <input type="hidden" id="hidden-numChapters" name="numChapters">
            <button type="submit">Create Scenes</button>
        </form>
        <pre id="scenes-result" style="display:none"></pre>

        <h2>Step 5: Create Movie</h2>
        <form id="movie-form">
            <input type="hidden" id="hidden-storyObjects" name="storyObjects">
            <input type="hidden" id="hidden-novelSummary" name="novelSummary">
            <input type="hidden" id="hidden-characters" name="characters">
            <input type="hidden" id="hidden-numChapters" name="numChapters">
            <input type="hidden" id="hidden-chapters" name="chapters">
            <input type="hidden" id="hidden-numScenes" name="numScenes">

            <label for="scenes">Scenes:</label>
            <br>
            <textarea id="scenes" name="scenes" rows="32" cols="200"></textarea>
            <br>

            <button type="submit">Create Movie</button>
        </form>

    </div>

        <pre id="movie-result" style="display:none"></pre>
        <input type="text" id="movie-result-field" style="width: 60ch;"></input>
        <input type="text" id="whichChapter" style="width: 3ch;" value="1"></input>
        <input type="text" id="whichScene" style="width: 3ch;" value="1"></input>

    

    <button type="submit" id="playMovie">Play Movie</button>
    <button type="submit" id="stopMovie">Stop Movie</button>
    <input type="checkbox" id="autoplay">Autoplay</button>
    <button id="fullscreen-toggle">Toggle Fullscreen</button>


    <br>

    <div class="container">
        <canvas id="myCanvas" width="1024" height="1024"></canvas>
        <span class="caption" id="caption">Once Upon a Time</span>
    </div>