<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="my-4">Movie List</h1>
        <ul class="list-group" id="movie-list"></ul>
    </div>

    <script>
        $(document).ready(function() {
            $.ajax({
                type: 'GET',
                url: '/get_all_movies',
                success: function(data) {
                    data.forEach((movie) => {
                        const imagePath = movie.image ? `../${movie.image}` : ''; // Add the "../" prefix to the image path if it exists
                        const movieListItem = `<li class="list-group-item">
                            <a href="/movie/${movie.movie_id}">
                                <img src="${imagePath}" alt="${movie.title} Image" style="max-width: 100px; max-height: 100px;"> ${movie.title}
                            </a>
                        </li>`;
                        $("#movie-list").append(movieListItem);
                    });
                },
                error: function(error) {
                    console.error(error);
                }
            });
        });
    </script>
    
</body>
</html>
