<!DOCTYPE html>
<html lang="en">


<style>
    /*we need to hide all of the forms, since we just want to play the movie */
    #hideForms {
        display: none;
    }

</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:wght@800&display=swap" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <title>{{movie_title}}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script type="importmap">
        {
            "imports": {
                "three": "../static/build/three.module.js"
            }
        }
    </script>

    <script type="x-shader/x-vertex" id="vertexshader">

        attribute float scale;

        void main() {

            vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );

            gl_PointSize = scale * ( 300.0 / - mvPosition.z );

            gl_Position = projectionMatrix * mvPosition;

        }

    </script>

    <script type="x-shader/x-fragment" id="fragmentshader">

        uniform vec3 color;

        void main() {

            if ( length( gl_PointCoord - vec2( 0.5, 0.5 ) ) > 0.475 ) discard;

            gl_FragColor = vec4( 1,1,1, 0 );

        }

    </script>

    <script type="module">

        import * as THREE from 'three';

        let aspect_ratio = screen.width / screen.height;

        const scene = new THREE.Scene();
        const camera = new THREE.PerspectiveCamera(90, aspect_ratio, 0.1, 1000);

        //lighting
        scene.add(new THREE.HemisphereLight(0x606060, 0x404040));

        const light = new THREE.DirectionalLight(0xffffff);
        light.position.set(1, 1, 1).normalize();
        scene.add(light);

        const renderer = new THREE.WebGLRenderer();
        renderer.setSize(1024 * aspect_ratio, 1024);
        renderer.domElement.id = 'threeCanvas';
        document.getElementById("canvasContainer").appendChild(renderer.domElement);

        const geometry = new THREE.BoxGeometry(1, 1, 1);
        const material = new THREE.MeshBasicMaterial({ color: 0x00ff00 });
        const cube = new THREE.Mesh(geometry, material);
        //scene.add(cube);



        //particles
        let particles, count = 0;


        const numParticles = 300;

        const positions = new Float32Array(numParticles * 3);
        const colors = new Float32Array(numParticles * 3);
        const scales = new Float32Array(numParticles);

        let i = 0, j = 0;

        for (let iy = 0; iy < numParticles; iy++) {
            positions[i] = (1-2*Math.random()) * 5 * aspect_ratio // x
            positions[i + 1] = (1-2*Math.random()) * 5; // y
            positions[i + 2] = 2 + Math.random() * 3; // z
            //positions[i + 2] = 0
            scales[j] = (1 + Math.random()) / 100;
            i += 3;
            j++;

            colors[i]=Math.random()
            colors[i+1]=Math.random()
            colors[i]=Math.random()
        }
        const particle_geometry = new THREE.BufferGeometry();
        particle_geometry.setAttribute('position', new THREE.BufferAttribute(positions, 3));
        particle_geometry.setAttribute('color', new THREE.BufferAttribute(colors, 3));
        particle_geometry.setAttribute('scale', new THREE.BufferAttribute(scales, 1));

        const particle_material = new THREE.ShaderMaterial({

            uniforms: {
                color: { value: new THREE.Color(0x88ffffff) },
            },
            vertexShader: document.getElementById('vertexshader').textContent,
            fragmentShader: document.getElementById('fragmentshader').textContent

        });
        //
        particles = new THREE.Points(particle_geometry, particle_material);
        scene.add(particles);


        camera.position.z = 5;

        //brownian motion
        let vx = 0.1, vy = 0.1, vz = 0.1;
        let speedLimit = 0.005
        let speedLimitZ = 0.002

        function animate() {
            requestAnimationFrame(animate);


            cube.rotation.x += 0.01;
            cube.rotation.y += 0.01;

            renderer.render(scene, camera);


            //camera wanders randomly around the scene
            camera.position.x += vx;
            camera.position.y += vy;
            camera.position.z += vz;

            vx += (1 - 2 * Math.random()) * 0.0001
            vy += (1 - 2 * Math.random()) * 0.0001
            vz += (1 - 2 * Math.random()) * 0.0001

            //speed limit
            let speed = Math.pow(Math.pow(vx, 2) + Math.pow(vy, 2), 0.5)
            if (speed > speedLimit) {
                vx = vx * 0.9
                vy = vy * 0.9
            }

            if (Math.abs(vz) > speedLimitZ) {
                vz = vz * 0.9
            }

            let screen_aspect_ratio = window.innerWidth / window.innerHeight;
            let image_aspect_ratio = scene.userData["img_aspect_ratio"];


            let boundsX = (5 - camera.position.z) * screen_aspect_ratio
            let boundsY = (5 - camera.position.z) + (5 * screen_aspect_ratio / image_aspect_ratio - 5)-0.2
            if (screen_aspect_ratio > image_aspect_ratio) {
                let boundsX = (5 - camera.position.z) * screen_aspect_ratio + (5 * screen_aspect_ratio / image_aspect_ratio - 5)
                let boundsY = (5 - camera.position.z)
            }

            let zMin = 3.5
            let zMax = 5

            //camera.position.z=5

            //console.log(camera.position.z)



            //bounds
            if (camera.position.x > boundsX) {
                camera.position.x = boundsX;
                vx = -vx * 0.9;
                //vx=0
            }
            if (camera.position.x < -boundsX) {
                camera.position.x = -boundsX;
                vx = -vx * 0.9;
                //vx=0
            }
            if (camera.position.y > boundsY) {
                camera.position.y = boundsY;
                vy = -vy * 0.9;
                //vy=0
            }
            if (camera.position.y < -boundsY) {
                camera.position.y = -boundsY;
                vy = -vy * 0.9;
                //vy=0
            }

            //camera.position.z=5
            if (camera.position.z > zMax) {
                camera.position.z = zMax;
                vz = -vz;
                //vz=0
            }
            if (camera.position.z < zMin) {
                camera.position.z = zMin;
                vz = -vz;
            }

            /*camera.position.z=5
            camera.position.x=0
            camera.position.y=0*/


            //update particles
            const positions = particles.geometry.attributes.position.array;
            const scales = particles.geometry.attributes.scale.array;

            let i = 0, j = 0;

            let snowSpeed = 0.001
            let gravity = 0.001

            for (let iy = 0; iy < numParticles; iy++) {

                positions[i] = positions[i] + (1-2*Math.random()) * snowSpeed
                positions[i + 1] = positions[i + 1] + (1-2*Math.random()) * snowSpeed - gravity
                if (positions[i + 1] < - 5) {
                    positions[i] = (1 - 2 * Math.random()) * 5
                    positions[i + 1] = 5
                    positions[i + 2] = 2 + Math.random() * 3; // z
                }


                //scales[j] = (Math.sin((ix + count) * 0.3) + 1) * 20 +
                //    (Math.sin((iy + count) * 0.5) + 1) * 20;

                i += 3;
                j++;



            }

            particles.geometry.attributes.position.needsUpdate = true;
            particles.geometry.attributes.scale.needsUpdate = true;

        }

        animate();

        function addObject(imgPath, dPath, width, height) {

            //remove previous image if exists
            if ("img" in scene.userData) {
                scene.remove(scene.userData["img"]);
            }

            const textureLoader = new THREE.TextureLoader();
            const colorMap = textureLoader.load(imgPath);
            const displacementMap = textureLoader.load(dPath);

            let displacementBias = 0
            let displacementScale = 1

            let material = new THREE.MeshStandardMaterial({
                map: colorMap,
                displacementMap: displacementMap,
                displacementScale: displacementScale,
                displacementBias: displacementBias, // from original model
                side: THREE.DoubleSide
            });

            let image_aspect_ratio = width / height;
            let screen_aspect_ratio = window.innerWidth / window.innerHeight;

            let geometry = new THREE.PlaneGeometry(10 * screen_aspect_ratio, 10 * screen_aspect_ratio / image_aspect_ratio, 1000, 1000);

            let mesh = new THREE.Mesh(geometry, material);

            console.log(mesh)

            scene.add(mesh);

            scene.userData["img"] = mesh;
            //store image aspect ratio
            scene.userData["img_aspect_ratio"] = image_aspect_ratio;

            //randomize camera position
            camera.position.z = 3 + Math.random() * 2
            let boundsX = (5 - camera.position.z) * screen_aspect_ratio + 0.1
            let boundsY = (5 - camera.position.z) + (5 * screen_aspect_ratio / image_aspect_ratio - 5) + 0.1
            camera.position.x = (1 - 2 * Math.random()) * boundsX
            camera.position.y = (1 - 2 * Math.random()) * boundsY
            vx = speedLimit * (1 - 2 * Math.random())
            vy = speedLimit * (1 - 2 * Math.random())
            vz = speedLimit * (1 - 2 * Math.random())


        }

        //expose to global scope
        window.addObject = addObject;

    </script>





    <script>

        function submitForm(event, formId, url, resultId, inputToUpdate = null, successCallback = null, resultMapping = null) {



            if (event) {
                event.preventDefault();
            }

            const formData = $(`#${formId}`).serializeArray().reduce(function (obj, item) {
                obj[item.name] = item.value;
                return obj;
            }, {});

            return new Promise((resolve, reject) => {
                $.ajax({
                    type: 'POST',
                    url,
                    data: JSON.stringify(formData),
                    contentType: 'application/json',
                    success: function (data) {

                        $(`#${inputToUpdate}`).val("this should enver happen" + JSON.stringify(data) + JSON.stringify(resultMapping));


                        if (resultMapping != null) {

                            //$(`#${inputToUpdate}`).val("this should never never happen"+JSON.stringify(resultMapping[key])+JSON.stringify(data[key]));

                            console.log("here")
                            for (let key in resultMapping) {

                                //$(`#${inputToUpdate}`).val("this should key happen"+key+JSON.stringify(resultMapping[key])+JSON.stringify(data[key]));

                                console.log(key, resultMapping[key])
                                $(`${resultMapping[key]}`).val(data[key])
                            }
                            data = resultMapping[data]





                        } else {

                            $(`#${resultId}`).text(data);
                            if (inputToUpdate) {
                                $(`#${inputToUpdate}`).val(data);
                            }

                        }

                        if (successCallback) {
                            successCallback();
                        }

                        resolve(data);
                    },
                    error: function (error) {
                        console.error(error);
                        reject(error);
                    }
                });
            });
        }

        function updateHiddenNovelSummary() {

            $('#characters-form #hidden-storyObjects').val($('#summary-form #hidden-storyObjects').val());
            $('#chapters-form #hidden-storyObjects').val($('#summary-form #hidden-storyObjects').val());
            $('#scenes-form #hidden-storyObjects').val($('#summary-form #hidden-storyObjects').val());
            $('#movie-form #hidden-storyObjects').val($('#summary-form #hidden-storyObjects').val());

            $('#chapters-form #hidden-novelSummary').val($('#characters-form #novelSummary').val());
            $('#chapters-form #hidden-novelSummary').val($('#characters-form #novelSummary').val());

            $('#scenes-form #hidden-novelSummary').val($('#characters-form #novelSummary').val());
            $('#scenes-form #hidden-numChapters').val($('#chapters-form #numChapters').val());
            $('#scenes-form #hidden-characters').val($('#chapters-form #characters').val());

            $('#movie-form #hidden-novelSummary').val($('#characters-form #novelSummary').val());
            $('#movie-form #hidden-numChapters').val($('#chapters-form #numChapters').val());
            $('#movie-form #hidden-characters').val($('#chapters-form #characters').val());
            $('#movie-form #hidden-chapters').val($('#scenes-form #chapters').val());
            $('#movie-form #hidden-numScenes').val($('#scenes-form #numScenes').val());

            //update extraTemplates field in each form
            $('#characters-form #hidden-extraTemplates').val($('#summary-form #extraTemplates').val());
            $('#chapters-form #hidden-extraTemplates').val($('#summary-form #extraTemplates').val());
            $('#scenes-form #hidden-extraTemplates').val($('#summary-form #extraTemplates').val());
            $('#movie-form #hidden-extraTemplates').val($('#summary-form #extraTemplates').val());

        }

        var backgroundMusic = null
        var playbackStopped = false
        let isWaitingForResponse = false;

        function loadImage(src, width, height) {

            //src starts with ./static/
            src = src.replace("./static/", "../static/")

            //replace ".png with _depth.png" in src
            let dSrc = src.replace(".png", "_depth.png")
            console.log(dSrc)
            addObject(src, dSrc, width, height)

            console.log("loaded img", src)

            if (src == null) {
                return
            }

            return new Promise((resolve, reject) => {
                const image = new Image();
                image.src = src;
                image.onload = () => resolve(image);
                image.onerror = () => reject(new Error(`Failed to load image: ${src}`));
            });
        }

        function playMovie(movieId, count) {

            //compare movieid with the current movie id
            //if they are different, stop playback
            let currentMovieId = $('#movie-result-field').val();
            if (currentMovieId != movieId) {
                return;
            }


            if (count == null) {
                count = -1
            }

            if (playbackStopped || isWaitingForResponse) return;
            //if (playbackStopped) return;

            isWaitingForResponse = true;

            let url = `/get_next_element/${movieId}?count=${count}`

            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    // Handle the returned data (e.g., render the movie scene)
                    console.log(data);

                    if ('debug' in data) {

                        //check if this is a new scene
                        if (data['debug'] == 'new scene') {
                            $("#whichChapter").val(data["chapter"])
                            $("#whichScene").val(data["scene"])
                        }
                        //just keep going
                        isWaitingForResponse = false;
                        playMovie(movieId, count + 1)
                    }

                    else if ('image' in data) {
                        //draw image on canvas
                        // Get a reference to the canvas element
                        const canvas = document.getElementById('myCanvas');

                        // Get the 2D rendering context from the canvas
                        const ctx = canvas.getContext('2d');

                        // Load the image using the loadImage function
                        console.log("loading image", "../" + data["image"])
                        let width = data["width"]
                        let height = data["height"]
                        //if null set to 1024
                        if (width == null) {
                            width = 1024
                        }
                        if (height == null) {
                            height = 1024
                        }
                        loadImage(data['image'], width, height)
                            .then((image) => {
                                // Draw the image on the canvas using the drawImage method
                                ctx.drawImage(image, 0, 0, canvas.width, canvas.height);

                                // Call playMovie again
                                isWaitingForResponse = false;
                                playMovie(movieId, count + 1);
                            })
                            .catch((error) => {
                                console.error(error);
                            });

                    }

                    else if ('caption' in data) {
                        $('#caption').text(data['caption']);

                        setTimeout(function () {
                            isWaitingForResponse = false;
                            playMovie(movieId, count + 1);
                        }, data['duration'] * 1000);
                    }

                    else if ('dialogue' in data) {
                        //var audio = new Audio(data['speech']);
                        //#audio.play();

                        let canvas = document.getElementById('myCanvas');
                        let threecanvas = document.getElementById('threeCanvas');

                        var video = document.getElementById("my-video");
                        //display movie element
                        video.controls = false;
                        var video_src = "../" + data['speech']
                        video.setAttribute('autoplay', '');
                        //video.setAttribute('controls', '');
                        video.src = video_src;
                        video.style.display = 'block';


                        video.addEventListener('loadedmetadata', function () {
                            let w = 256
                            //different if fullscreen
                            if (document.fullscreenElement) {
                                let scale = canvas.width / 1024
                                w = 512 * scale
                                video.width = scale * 512;
                                video.height = scale * 512;

                                video.style.left = (window.innerWidth - w) + 'px';
                            } else {
                                video.width = 256;
                                video.height = 256;
                                video.style.left = (threecanvas.offsetLeft + threecanvas.width - w) + 'px';
                            }
                            //video.style.left = (canvas.offsetLeft + canvas.width - w) + 'px';
                            //move video to right of screen

                        });



                        console.log(canvas.offsetLeft + canvas.width - video.videoWidth)

                        video.addEventListener('ended', function () {
                            video.controls = false;
                        });

                        let caption = data['name'] + ": " + data['dialogue']

                        $('#caption').text(caption);

                        setTimeout(function () {
                            isWaitingForResponse = false;
                            video.style.display = 'none';
                            playMovie(movieId, count + 1);
                        }, data['duration'] * 1000);

                    }

                    else if ('music' in data) {

                        var audio = new Audio("../" + data['music']);
                        audio.loop = true;
                        audio.play();

                        if (backgroundMusic) {
                            backgroundMusic.pause();
                        }

                        backgroundMusic = audio
                        isWaitingForResponse = false;
                        playMovie(movieId, count + 1);

                    }

                    else if ('sound effect' in data) {

                        var audio = new Audio("../" + data['sound effect']);
                        audio.play();

                        $('#caption').text("Sound Effect:" + data['description']);

                        setTimeout(function () {
                            isWaitingForResponse = false;
                            playMovie(movieId, count + 1);
                        }, data['duration'] * 1000);
                    }

                    else if ('done' in data) {

                        if (backgroundMusic) {
                            backgroundMusic.pause();
                        }

                        isWaitingForResponse = false;

                        if ($('#autoplay').is(':checked')) {
                            doAutoplay()
                        }
                    } else {
                        console.log("this should never happen!")
                    }


                },
                error: function (error) {
                    console.error(error);
                    isWaitingForResponse = false;
                }
            });
        }

        function updateCaptionWithMovieTitle() {
            const novelSummary = $('#characters-form #novelSummary').val()
            const summaryLines = novelSummary.split('\n');
            let movieTitle = '{{movie_title}}';
            for (let i = 0; i < summaryLines.length - 1; i++) {
                if (summaryLines[i].toLowerCase().trim() === 'title:') {
                    movieTitle = summaryLines[i + 1];
                    break;
                }
            }
            $('#caption').text(movieTitle);

            //draw logo
            const canvas = document.getElementById("myCanvas");
            const ctx = canvas.getContext("2d");
            addObject("../static/logo.png", "../static/logo_depth.png", 1024, 1024)

            // Clear the canvas
            ctx.clearRect(0, 0, canvas.width, canvas.height);

            // Draw the logo
            const logo = new Image();
            logo.src = "../static/logo.png"; // Replace with the actual path to your logo file
            logo.onload = function () {
                ctx.drawImage(logo, 0, 0, canvas.width, canvas.height);
            };


        }

        async function doAutoplay() {
            const maxRetries = 3;
            let retryCount = 0;
            let stepFailed = false;

            do {
                stepFailed = false;

                try {
                    // Step 1: Create Summary
                    await submitForm(null, 'summary-form', '/create_summary', 'summary-result', 'characters-form #novelSummary', updateHiddenNovelSummary,
                        { "novel_summary": "#characters-form #novelSummary", "story_objects": "#summary-form #hidden-storyObjects" }
                    );

                    // Step 2: Create Characters
                    await submitForm(null, 'characters-form', '/create_characters', 'characters-result', 'chapters-form #characters', updateHiddenNovelSummary);

                    // Step 3: Create Chapters
                    await submitForm(null, 'chapters-form', '/create_chapters', 'chapters-result', 'scenes-form #chapters', updateHiddenNovelSummary);

                    // Step 4: Create Scenes
                    await submitForm(null, 'scenes-form', '/create_scenes', 'scenes-result', 'movie-form #scenes', updateHiddenNovelSummary);

                    // Step 5: Create Movie
                    await submitForm(null, 'movie-form', '/create_movie', 'movie-result', 'movie-result-field', updateHiddenNovelSummary);
                } catch (error) {
                    stepFailed = true
                }
            } while (retryCount < maxRetries && stepFailed)


            updateCaptionWithMovieTitle();
            // Play the movie
            const movieId = $('#movie-result-field').val();
            playMovie(movieId, 0);
        }



        $(document).ready(function () {
            $('#summary-form').submit(function (event) {
                submitForm(event, 'summary-form', '/create_summary', 'summary-result', 'characters-form #novelSummary', updateHiddenNovelSummary,
                    { "novel_summary": "#characters-form #novelSummary", "story_objects": "#summary-form #hidden-storyObjects" });
            });

            $('#characters-form').submit(function (event) {
                submitForm(event, 'characters-form', '/create_characters', 'characters-result', 'chapters-form #characters', updateHiddenNovelSummary);
            });

            $('#chapters-form').submit(function (event) {
                submitForm(event, 'chapters-form', '/create_chapters', 'chapters-result', 'scenes-form #chapters', updateHiddenNovelSummary);
            });

            $('#scenes-form').submit(function (event) {
                submitForm(event, 'scenes-form', '/create_scenes', 'scenes-result', 'movie-form #scenes', updateHiddenNovelSummary);
            });

            $('#movie-form').submit(function (event) {
                submitForm(event, 'movie-form', '/create_movie', 'movie-result', 'movie-result-field');
                $("#whichChapter").val(1)
                $("#whichScene").val(1)
            });

            $('#playMovie').click(function () {
                //hide all of the forms
                $('#hideForms').hide();

                playbackStopped = false


                //draw logo on canvas
                const canvas = document.getElementById("myCanvas");
                const ctx = canvas.getContext("2d");
                // Clear the canvas
                ctx.clearRect(0, 0, canvas.width, canvas.height);

                // Draw the logo
                const logo = new Image();
                logo.src = "../static/logo.png"; // Replace with the actual path to your logo file
                logo.onload = function () {
                    ctx.drawImage(logo, 0, 0, canvas.width, canvas.height);
                };

                updateCaptionWithMovieTitle();

                //const movieId = "your_movie_id"; // Replace with the actual movie ID
                const movieId = $('#movie-result-field').val();
                const whichChapter = $('#whichChapter').val();
                const whichScene = $('#whichScene').val();
                let count = 0
                setTimeout(function () {
                    playMovie(movieId, count);
                }, 10 * 1000);
            });

            $('#stopMovie').click(function () {
                //hide all of the forms
                //$('#hideForms').show();

                playbackStopped = true

                if (backgroundMusic) {
                    backgroundMusic.pause()
                }
            });

            $('#characters-form #novelSummary').on('change', function () {
                updateHiddenNovelSummary();
            });

            $('#chapters-form #characters').on('change', function () {
                updateHiddenNovelSummary();
            });

            $('#scenes-form #chapters').on('change', function () {
                updateHiddenNovelSummary();
            });

            $('#movie-form #scenes').on('change', function () {
                updateHiddenNovelSummary();
            });

            //when story summary is changed, update the hidden field
            $('#summary-form #storyObjects').on('change', function () {
                $('#summary-form #hidden-storyObjects').val($('#summary-form #storyObjects').val());
                updateHiddenNovelSummary();
            });

            //when extratemplates are changed, update the hidden field
            $('#summary-form #extraTemplates').on('change', function () {
                updateHiddenNovelSummary();
            });



            updateHiddenNovelSummary();

            let originalSize = null;

            function updateCaptionStyle() {
                let caption = document.getElementById('caption');
                let canvas = document.getElementById('myCanvas');

                let aspect_ratio = window.innerWidth / window.innerHeight;

                if (document.fullscreenElement) {
                    let minDimension = Math.min(screen.width, screen.height);
                    caption.style.fontSize = (30 * (minDimension / 1024)) + 'px';
                    caption.style.width = (minDimension - 256 * minDimension / 1024) + 'px';

                    caption.style.position = 'fixed';
                    caption.style.bottom = '10px';
                    caption.style.left = (canvas.offsetLeft) + 'px';


                    //set video position
                    let video = document.getElementById('my-video');
                    let scale = minDimension / 1024;
                    let w = 256 * scale;
                    video.width = scale * 256;
                    video.height = scale * 256;
                    video.style.left = (canvas.offsetLeft + canvas.width - w) + 'px';

                    //update threecanvas
                    let threeCanvas = document.getElementById('threeCanvas');
                    threeCanvas.style.width = (minDimension * aspect_ratio) + 'px';
                    threeCanvas.style.height = (minDimension) + 'px';
                    //threeCanvas.style.left = (canvas.offsetLeft) + 'px';
                    threeCanvas.style.left = 0 + 'px';
                    threeCanvas.style.top = (canvas.offsetTop) + 'px';



                } else {
                    caption.style.fontSize = '30px';
                    caption.style.width = 'calc(1024px - 256px)';

                    caption.style.position = 'absolute';
                    caption.style.bottom = '10px';
                    caption.style.left = '0';

                    //set video position
                    let video = document.getElementById('my-video');
                    let scale = 1
                    let w = 256;
                    video.width = 256;
                    video.height = 256;
                    video.style.left = (canvas.offsetLeft + canvas.width - w) + 'px';

                    //update threecanvas
                    let threeCanvas = document.getElementById('threeCanvas');
                    threeCanvas.style.width = (1024 * aspect_ratio) + 'px';
                    threeCanvas.style.height = (1024) + 'px';
                    threeCanvas.style.left = (canvas.offsetLeft) + 'px';
                    //threeCanvas.style.left = (0) + 'px';
                    threeCanvas.style.top = (canvas.offsetTop) + 'px';


                }
            }

            async function toggleFullscreen() {
                let container = document.getElementsByClassName('container')[0];
                let canvas = document.getElementById('myCanvas');
                let ctx = canvas.getContext('2d');

                // Store the current canvas content as an image
                let tempCanvasImage = new Image();
                tempCanvasImage.src = canvas.toDataURL();

                // Toggle fullscreen mode
                if (!document.fullscreenElement) {
                    await container.requestFullscreen();
                } else {
                    await document.exitFullscreen();
                }

                if (document.fullscreenElement) {
                    let minDimension = Math.min(screen.width, screen.height);
                    canvas.width = minDimension;
                    canvas.height = minDimension;

                    // Center the container in fullscreen mode
                    container.style.width = '100%';
                    container.style.height = '100%';
                    container.style.display = 'flex';
                    container.style.justifyContent = 'center';
                    container.style.alignItems = 'center';
                } else {
                    canvas.width = 1024;
                    canvas.height = 1024;

                    // Reset container styles when exiting fullscreen
                    container.style.width = '';
                    container.style.height = '';
                    container.style.display = '';
                    container.style.justifyContent = '';
                    container.style.alignItems = '';
                }

                if (document.fullscreenElement) {
                    let minDimension = Math.min(screen.width, screen.height);
                    canvas.width = minDimension;
                    canvas.height = minDimension;




                } else {
                    canvas.width = 1024;
                    canvas.height = 1024;
                }
                // Redraw the stored image onto the resized canvas
                ctx.drawImage(tempCanvasImage, 0, 0, canvas.width, canvas.height);

                // Update caption style
                updateCaptionStyle();
            }

            function handleFullscreenChange() {
                let canvas = document.getElementById('myCanvas');
                let ctx = canvas.getContext('2d');

                // Store the current canvas content as an image
                let tempCanvasImage = new Image();
                tempCanvasImage.src = canvas.toDataURL();

                if (!document.fullscreenElement) {
                    canvas.width = 1024;
                    canvas.height = 1024;

                    // Reset container styles when exiting fullscreen
                    let container = document.getElementsByClassName('container')[0];
                    container.style.width = '';
                    container.style.height = '';
                    container.style.display = '';
                    container.style.justifyContent = '';
                    container.style.alignItems = '';

                    tempCanvasImage.addEventListener('load', function () {
                        // Redraw the stored image onto the resized canvas
                        ctx.drawImage(tempCanvasImage, 0, 0, canvas.width, canvas.height);
                        // Update caption style
                        updateCaptionStyle();
                    });
                }
            }

            document.addEventListener('fullscreenchange', handleFullscreenChange);

            $("#fullscreen-toggle").on("click", function () {
                toggleFullscreen()
            });

            //generate all button calls autoplay
            $('#generateAll').click(function () {
                doAutoplay()
            });

        });
    </script>

    <style>
        .container {
            position: relative;
        }

        #myCanvas {
            display: block;
        }


        .caption {
            font-weight: 900;
            font-family: 'Roboto', sans-serif;
            color: black;
            text-shadow:
                -1px -1px 0 white,
                1px -1px 0 white,
                -1px 1px 0 white,
                1px 1px 0 white;
            font-size: 30px;
            display: inline-block;
            width: calc(1024px - 256px);
            /* Updated width */
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 256px;
            /* Updated right */
            text-align: center;

            z-index: 3;
        }


        .video {
            position: absolute;
            bottom: 0px;
            right: 256px;

            z-index: 2;
        }

        #threeCanvas {
            position: absolute;
            bottom: 0px;
            left: 0px;

            z-index: 1;

        }
    </style>


</head>

<body>
    <h1>Anime Creator</h1>

    <div id="hideForms">

        <h2>Step 1: Create Summary</h2>



        <button id="generateAll">Generate All</button>
        <br>

        <form id="summary-form">

            Hint: you can define extra objects here.<br>
            <pre>
>object type 1
description:
this object has a desription like this
===
>object type 2
description:
this {animal} is a particular {color}
            </pre>



            <label for="extraTemplates">Extra Templates:</label><br>
            <textarea id="extraTemplates" name="extraTemplates" rows="32" cols="150"></textarea>
            <br>
            
            
            Hint: you can put suggestions for the generator here.<br>
            <pre>
novel suggestion:
a story about bees
prompt suffix:
this text is added to the end of every image prompt
character type:
zombie
prompt object:
zombie object
scene prompt:
, Make sure to include lots of action!
            </pre>
            
            
            <label for="storyObjects">Story Objects:</label>
            <br>
            <textarea id="storyObjects" name="storyObjects" rows="32" cols="150"></textarea>
            <br>
            <button type="submit">Create Summary</button>
            <input type="hidden" id="hidden-storyObjects" name="hidden-storyObjects" val="">
        </form>
        <pre id="summary-result" style="display:none"></pre>

        <h2>Step 2: Create Characters</h2>
        <form id="characters-form">
            <label for="novelSummary">Novel Summary:</label>
            <br>
            <textarea id="novelSummary" name="novelSummary" rows="32" cols="150"></textarea>
            <br>
            <input type="hidden" id="hidden-storyObjects" name="storyObjects">
            <input type="hidden" id="hidden-extraTemplates" name="extraTemplates">
            <button type="submit">Create Characters</button>
        </form>
        <pre id="characters-result" style="display:none"></pre>

        <h2>Step 3: Create Chapters</h2>
        <form id="chapters-form">
            <label for="characters">Characters:</label>
            <br>
            <textarea id="characters" name="characters" rows="32" cols="150"></textarea>
            <br>
            <input type="hidden" id="hidden-storyObjects" name="storyObjects">
            <input type="hidden" id="hidden-novelSummary" name="novelSummary">
            <input type="hidden" id="hidden-extraTemplates" name="extraTemplates">
            <label for="numChapters">Number of Chapters:</label>
            <input type="number" id="numChapters" name="numChapters" value="3">
            <br>
            <button type="submit">Create Chapters</button>
        </form>
        <pre id="chapters-result" style="display:none"></pre>

        <h2>Step 4: Create Scenes</h2>
        <form id="scenes-form">
            <label for="chapters">Chapters:</label>
            <br>
            <textarea id="chapters" name="chapters" rows="32" cols="150"></textarea>
            <br>
            <input type="hidden" id="hidden-storyObjects" name="storyObjects">
            <input type="hidden" id="hidden-novelSummary" name="novelSummary">
            <input type="hidden" id="hidden-characters" name="characters">
            <input type="hidden" id="hidden-numChapters" name="numChapters">
            <input type="hidden" id="hidden-extraTemplates" name="extraTemplates">
            <label for="numScenes">Number of Scenes per Chapter:</label>
            <input type="number" id="numScenes" name="numScenes" value="3">
            <br>            
            <button type="submit">Create Scenes</button>
        </form>
        <pre id="scenes-result" style="display:none"></pre>

        <h2>Step 5: Create Movie</h2>
        <form id="movie-form">
            <input type="hidden" id="hidden-storyObjects" name="storyObjects">
            <input type="hidden" id="hidden-novelSummary" name="novelSummary">
            <input type="hidden" id="hidden-characters" name="characters">
            <input type="hidden" id="hidden-numChapters" name="numChapters">
            <input type="hidden" id="hidden-chapters" name="chapters">
            <input type="hidden" id="hidden-numScenes" name="numScenes">
            <input type="hidden" id="hidden-extraTemplates" name="extraTemplates">
            <label for="scenes">Scenes:</label>
            <br>
            <textarea id="scenes" name="scenes" rows="32" cols="150"></textarea>
            <br>

            <button type="submit">Create Movie</button>
        </form>

    </div>

    <pre id="movie-result" style="display:none"></pre>
    <input type="text" id="movie-result-field" style="width: 60ch;" value="{{movie_id}}"></input>
    <input type="text" id="whichChapter" style="width: 3ch;" value="1"></input>
    <input type="text" id="whichScene" style="width: 3ch;" value="1"></input>



    <button type="submit" id="playMovie">Play Movie</button>
    <button type="submit" id="stopMovie">Stop Movie</button>
    <input type="checkbox" id="autoplay">Autoplay</button>
    <button id="fullscreen-toggle">Toggle Fullscreen</button>


    <br>

    <div class="container" id="canvasContainer">
        <canvas id="myCanvas" width="1024" height="1024"></canvas>
        <span class="caption" id="caption">{{movie_title}}</span>
        <video class="video" id="my-video"  style="display:None"></video>
    </div>